{% extends 'core/base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">{{ title }}</h1>
<hr />
<div class="w-full mt-5">
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
            Get OTP
        </label>
        <input type="number" id="phone" name="phone"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline">

        <input type="button" id="" name="getOTP" value="Get OTP" onclick="otpGenerate()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
            Validate OTP
        </label>
        <input type="number" id="phone" name="phone"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline">
        <input type="button" value="Validate OTP" onclick="otpValidate()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script>
        ajaxCall = (url, object) => {
            $('html, body').css("cursor", "wait");
            $.ajax({
                type: "POST",
                crossDomail: false,
                url: url,
                contentType: "application/json",
                data: JSON.stringify(object),
                success: function (response) {
                    $('html, body').css("cursor", "auto");
                    alert("Success");
                },
                error: function () {
                    $('html, body').css("cursor", "auto");
                    alert("Failure");
                }
            });
        }
        otpGenerate = () => {
            var phone = int($("#phone").text());
            ajaxCall("https://API-URL/generate", { "phone": phone, "digits": 6 });
        };
        otpValidate = () => {
            var phone = int($("#phone").text());
            var otp = int($("#otp").text());
            ajaxCall("https://API-URL/validate", { "phone": phone, "otp": otp });
        };

    </script>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Amount
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline"
                name="amount" id="amount" type="number" required placeholder="Amount">
        </div>
        {% if form.amount.errors %}
        {% for error in form.amount.errors %}
        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Submit
        </button>
    </form>
</div>
{% endblock %}